<%= simple_form_for(@task, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.association :task_type, label: :Type %>
      </div>
      <div class="span6">
        <%= f.input :request_date, :as => :string, :input_html => { :class => 'datepicker' } %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.association :system %>
      </div>
      <div class="span6">
        <%= f.input :due_date, :as => :string, :input_html => { :class => 'datepicker' } %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :description, :as => :text, :input_html => { :rows => '6' } %>
      </div>
      <div class="span6">
        <%= f.input :execution_date, :as => :string, :input_html => { :class => 'datepicker' } %>
        <%= f.input :customer %>
        <%= f.input :follow_up %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :assigned_to %>
      </div>
      <div class="span6">
        <%= f.association :task_priority, label: :Priority %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.association :user, label: 'Entered by', :input_html => { :disabled => 'true' } %>
      </div>
      <div class="span6">
        <%= f.association :task_status, label: :Status %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
